:root {
  --pri: #3b0404;
  --sec: #ff6c0c;
  --tri: #ffe08f;
  --for: #060771;
  --bg-main: rgb(2, 15, 58);
  --bg-nav: #060771;
  --text-main: white;
  --bg-theme-btn: white;
  --text-theme-btn: black;
  --bg-card: white;
}

@font-face {
  font-family: light;
  src: url(./AeonikTRIAL-Light.otf);
}

@font-face {
  font-family: bold;
  src: url(./AeonikTRIAL-Bold.otf);
}

@font-face {
  font-family: normal;
  src: url(./AeonikTRIAL-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main {
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-color: var(--bg-main);
  overflow: hidden;
}

nav {
  width: 100%;
  height: 60px;
  padding: 30px 40px;
  margin-bottom: 20px; 
  position: fixed;
  z-index: 99;
  background-color: var(--bg-nav);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 10px;
  top: 0;
}

.nav h2 {
  font-family: light;
  font-size: 30px;
  color: var(--text-main);
  backdrop-filter: blur(5px);
  background-color: #04083b59;
  padding: 10px;
  border-radius: 5px;
}

.theme{
  background-color: var(--bg-theme-btn);
  border-radius: 50%;
  padding: 9px 10px;
  
  cursor: pointer;
  transition: all ease 0.2s;
}
.theme i {
  color: black;
  color: var(--text-theme-btn);
  font-size: 20px;
}

.theme:active {
  scale: 0.97;
}



section.allelems {
  width: 100%;
  height: 100%;
  padding: 40px;
  padding-top: 130px;
  overflow: auto;
  position: absolute;
}

.allelems header {
  height: 400px;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1655121522708-04cf50cca4b8?q=80&w=925&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: contain;
  border-radius: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  font-family: light;
  color: var(--text-main);
}

header .header1 h1 {
  font-size: 60px;
  font-family: bold;
  margin-bottom: 40px;
}

header .header1 h2 {
  font-size: 40px;
}

header .header1 h4 {
  font-size: 40px;
}

header .header2 h2 {
  font-size: 50px;
  font-family: bold;
}

header .header2 h4 {
  font-size: 30px;
}
header .header2 h3 {
  font-size: 25px;
}

.allelems .allfeatures {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.elem {
  height: 380px;
  width: 320px;
  font-size: 20px;
  background-color: var(--for);
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px 40px rgba(241, 243, 243, 0.473);
  transition: all ease 0.3s;
}

.elem:active {
  scale: 0.97;
}
.elem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.elem h2 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-family: light;
  color: var(--sec);
}

.fullelems {
  height: 100%;
  width: 100%;
  padding: 40px;
  background-color: var(--tri);
  padding-top: 120px;
  position: absolute;
  display: none;
  background-color: var(--bg-main);
}

.back {
  position: absolute;
  right: 5%;
  background-color: rgb(4, 51, 41);
  color: aliceblue;
  border-radius: 50%;
  padding: 10px 12px;
  font-size: 20px;
  font-weight: 700;
}

.back:active {
  scale: 0.97;
}

.todo-full-page h2 {
  font-size: 65px;
  font-family: light;
  color: white;
}

.todo-full-page .todo-container {
  height: 80%;
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.todo-full-page .todo-container .addtask {
  width: 35%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--bg-nav);
}

.todo-full-page .todo-container .alltask {
  width: 65%;
  height: 100%;
  background-color: var(--bg-nav);
  border-radius: 20px;
  overflow: auto;
}

.todo-full-page .todo-container .addtask form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}

.todo-container .addtask form h3 {
  font-size: 30px;
  font-family: light;
  margin-bottom: 20px;
  color: antiquewhite;
}
.todo-container .addtask form #task-input {
  padding: 10px 20px;
  width: 100%;
  font-size: 28px;
  background-color: rgba(8, 105, 143, 0.425);
  border-radius: 10px;
  border: none;
  outline: none;
  margin-bottom: 20px;
}

.todo-container .addtask form textarea {
  padding: 15px 25px;
  width: 100%;
  font-size: 28px;
  background-color: rgba(8, 105, 143, 0.425);
  border-radius: 10px;
  border: none;
  outline: none;
  margin-bottom: 20px;
}

.addtask form button {
  padding: 15px 25px;
  width: 100%;
  font-size: 28px;
  background-color: rgb(255, 94, 1);
  border-radius: 10px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  font-weight: 700;
  transition: all ease 0.3s;
}

.todo-container .addtask form button:active {
  scale: 0.97;
}

.todo-container .alltask {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  background-color: var(--bg-card);
  color: var(--text-theme-btn);
  padding: 10px 40px;
  margin-top: 20px;
  border-radius: 20px;
}

.task h5 {
  font-size: 25px;
  font-family: light;
  display: flex;
  align-items: center;
  gap: 10px;
}

.task h5 span {
  color: white;
  background-color: var(--sec);
  padding: 4px 5px;
  border-radius: 10px;
  font-size: 10px;
  font-family: light;
}

.task h5 span.true {
  opacity: 1;
}

.task h5 span.false {
  opacity: 0;
}

.task button {
  padding: 10px 20px;
  background-color: green;
  color: aliceblue;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
}

.task button:active {
  scale: 0.97;
}

.mark-imp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 20px;
  gap: 20px;
}

.mark-imp input {
  scale: 1.5;
  margin-left: 20px;
}

.mark-imp label {
  font-size: 20px;
  font-family: light;
  color: white;
  color: var(--text-main);
}

.Dailyp-full-page {
  display: none;
}
.Dailyp-full-page h2 {
  font-size: 70px;
  font-family: light;
  color: white;
}

.Dailyp-full-page .day-planner {
  background-color: var(--bg-nav);
  height: 85%;
  margin-top: 40px;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  overflow: auto;
}

.Dailyp-full-page .day-planner .day-planner-time {
  display: flex;
  align-items: center;
  position: relative;
  padding: 20px;
  width: 49%;
  margin: 10px 0;
}

.day-planner .day-planner-time p {
  position: absolute;
  top: 20%;
  left: 3.5%;
  color: white;
  font-size: 20px;
}
.day-planner .day-planner-time input {
  padding: 20px 30px;
  width: 100%;
  color: white;
  background-color: var(--bg-main);
  border-radius: 10px;
  border: none;
  font-size: 30px;
  outline: none;
}

.Motivation-full-page {
  position: relative;
  background-color: var(--bg-main);
}

.Motivation-full-page .motivational-container {
  height: 50%;
  width: 80%;
  position: absolute;
  border-radius: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Motivation-full-page .motivational-container::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--bg-nav);
  border-radius: 50px;
  scale: 1.1;
  z-index: 8;
  filter: blur(100px);
}

.Motivation-full-page .motivational-container .motivational-wrapper {
  z-index: 10;
  position: absolute;
  width: 100%;
  background-color: var(--bg-main);
  border: 1px solid white;
  border-radius: 40px;
  padding: 20px;
}

.Motivation-full-page .motivational-container .motivational-wrapper i {
  font-size: 30px;
  color: white;
}

.motivation1 {
  background-color: rgba(135, 8, 194, 0.479);
  padding: 20px;
  border-radius: 20px;
  width: fit-content;
}

.motivation1 h3 {
  font-size: 30px;
  color: white;
  font-family: bold;
}

.motivation2 {
  padding: 10px;
  margin: 10px 0;
}

.motivation2 h2 {
  font-size: 25px;
  font-family: light;
  color: var(--tri);
}

.motivation3 {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.motivation3 h2 {
  font-size: 20px;
  color: white;
  background-color: rgb(8, 194, 17);
  padding: 15px;
  border-radius: 20px;
  font-family: light;
  text-align: right;
  width: fit-content;
}

.Pomodo-full-page {
  position: relative;
}

.Pomodo-full-page .pomodo-timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.pomodo-timer h3 {
  font-size: 120px;
  font-family: bold;
  color: white;
}

.pomodo-timer button {
  background-color: var(--bg-main);
  padding: 15px 20px;
  font-size: 30px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  box-shadow: 2px 2px 0px white;
  transition: all ease 0.2s;
}

.pomodo-timer button:active {
  scale: 0.97;
  box-shadow: 0px 0px 0px white;
}

.Pomodo-full-page .session {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgb(66, 131, 9);
  padding: 20px 40px;
  border-radius: 5px;
  font-size: 30px;
  font-family: bold;
  color: white;
}

.pp{
  background-color: var(--bg-nav);
  padding: 240px 230px;
  border-radius: 30px;
  border: 5px solid white;
}

.jj{
  display: flex;
  align-items: center;
  justify-content:center ;
}